# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment folders
venv/
env/

# VS Code settings
.vscode/

# Mac system files
.DS_Store
